@import url('https://fonts.googleapis.com/css2?family=Modak&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Color Pallette */

:root {
    --white: #F0F8FF;
    --black: #171717;
    --yellow: #FED90F;
    --pink: #FF00D2;
    --green: #09F1B8;
    --light-blue: #00A2FF;
    --royal-blue: #0504AA;
    --dark-blue: #111C49;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    background: linear-gradient(300deg,#09f1b8, #00a2ff, #ff00d2, #fed90f);
    background-size: 120% 120%;
    animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    margin-bottom: 2rem;
}

.logo {
    font-family: "Modak", "Work Sans", "Helvetica Neue", sans-serif;
    font-size: 8rem;
    text-align: center;
    color: var(--white);
    text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
}

.nav-menu ul {
    display: flex;
    justify-content: space-evenly;
    font-family: "Modak", "Work Sans", "Helvetica Neue", sans-serif;
    font-size: 2.6rem;
    text-transform: uppercase;
    list-style: none;
    color: var(--white);
    text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
}

.hero-section, .page-footer, .page-container, .post-page-container, .post-container {
    margin: 0 6rem;
}

.hero-container {
    display: flex;
    width: 100%;
    gap: 1.6rem;
    font-family: "Work Sans", "Helvetica Neue", sans-serif;
}

.hero-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.hero-column-1 {
    flex: 1;
    padding-right: 2rem;
    background: var(--white);
    color: var(--black);
    border-radius: 16px;
    box-shadow: 6px 5px 7px var(--white);
    -webkit-box-shadow: 6px 5px 7px -4px var(--dark-blue) ; 
    border: 1px solid var(--white);
}

.hero-column-2 {
    flex: 2;
    background: var(--white);
    color: var(--black);
    border-radius: 16px;
    box-shadow: 6px 5px 7px var(--white);
    -webkit-box-shadow: 6px 5px 7px -4px var(--dark-blue) ; 
    border: 1px solid var(--white);
}

.hero-heading h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero-subheading h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-cta p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.hero-btn a {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    border: 2px solid var(--black);
    background: var(--royal-blue);
    border-radius: 12px;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-btn a:hover {
    background-color: var(--light-blue);
    color: var(--black);
}

/* Footer Styles */

.page-footer {
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    display: flex;
    flex-direction: column;
    font-family: "Work Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: right;
    color: var(--white);
}

.social-icon-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-heading {
    font-family: "Work Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 0.5rem;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icon {
    font-size: 3rem;
    transition: color 0.3s ease;
    color: var(--yellow);
}

.social-icon:hover {
    color: var(--royal-blue);
}

/* Page Title Styles */

.page-title {
    font-family: "Work Sans", "Helvetica Neue", sans-serif;
    font-weight: 800;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    padding-bottom: 0.5rem;
}

/* Pages Styles */

.page-container {
    font-family: "Work Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 2rem;
    padding: 2rem;;
    background: var(--white);
    border-radius: 16px;
    box-shadow: 6px 5px 7px var(--white);
    -webkit-box-shadow: 6px 5px 7px -4px var(--dark-blue) ; 
    border: 1px solid var(--white);
}

.page-container h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.page-container h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.page-container p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
}

/* News Section - Posts Styles */

.post-page-container {
    margin-bottom: 1.6rem;
    padding: 2rem;
    background: var(--white);
    border-radius: 16px;
    box-shadow: 6px 5px 7px var(--white);
    -webkit-box-shadow: 6px 5px 7px -4px var(--dark-blue) ; 
    border: 1px solid var(--white);
}

.post-page-container h2 {
    font-family: "Work Sans", "Helvetica Neue", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.post-page-container p {
    font-family: "Work Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
}

/* Individual Post Styles */

.post-container {
    margin-bottom: 1.6rem;
    padding: 2rem;
    background: var(--white);
    border-radius: 16px;
    box-shadow: 6px 5px 7px var(--white);
    -webkit-box-shadow: 6px 5px 7px -4px var(--dark-blue) ; 
    border: 1px solid var(--white);
}

.post-container h2 {
    font-family: "Work Sans", "Helvetica Neue", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.post-container p {
    font-family: "Work Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
}

.news-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 2.5rem;
    margin-top: -4rem;
}

.back-button {
    font-family: "Work Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.2rem;
    background: var(--royal-blue);
    color: var(--white);
    border-radius: 16px;
    box-shadow: 6px 5px 7px var(--white);
    -webkit-box-shadow: 6px 5px 7px -4px var(--dark-blue) ; 
    border: 1px solid var(--black);
}

/* Team Section */

.staff-member {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.staff-member-info-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.staff-member-listing img {
    width: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.staff-member-name {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.staff-member-position {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.staff-member-bio {
    font-size: 1.2rem;
}

/* Contact Section */

.wpforms-container {
    font-size: 1.6rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.wpforms-container p {
    font-size: 1.6rem;
}

.wpforms-field-container {
    margin-bottom: 1rem;
}

.wpforms-submit-container {
    width: 100%;
    text-align: center;
}

/* Media Queries for smaller screen sizes */

@media (max-width: 1024px) {
    
    .hero-section, .page-footer, .page-container, .post-container {
        margin: 0 4rem;
    }

    .post-page-container {
        margin-bottom: 1.6rem;
    }
    
    .navbar {
        margin-bottom: 2rem;
    }

    .logo {
        margin: 0.5rem 0;
        font-size: 5rem;
    }

    .nav-menu {
        margin: 0.25rem 0;
    }

    .hero-container {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-column-1 {
        padding: 1.2rem;
    }

    .hero-column-2 {
        padding: 1.2rem 1.2rem 3rem 1.2rem;
    }

    .hero-heading h2 {
        font-size: 2.4rem;
    }

    .hero-subheading h3 {
        font-size: 2rem;
    }

    .page-title,
    .post-page-container h2,
    .post-container h2,
    .staff-member-name {
        font-size: 1.8rem;
    }

    .hero-text p,
    .hero-cta p,
    .hero-btn a,
    .page-container h3,
    .page-container h4,
    .page-container p,
    .staff-member-position,
    .wpforms-container,
    .footer-text,
    .social-heading {
        font-size: 1.4rem;
    }
}

/* Media Queries for Tablets */

@media (max-width: 768px) {

    .hero-section, .page-footer, .page-container, .post-page-container, .post-container {
        margin: 0 2rem;
    }
    
    .post-page-container {
        margin-bottom: 1.6rem;
    }
    
    .navbar {
        margin-bottom: 2rem;
    }

    .logo {
        margin: 0;
        font-size: 4rem;
    }

    .nav-menu {
        margin: 0.5rem 0;
    }

    .nav-item {
        font-size: 2.2rem;
    }

    .hero-container {
        margin: 0.5rem 0;
    }

    .hero-heading h2 {
        font-size: 2rem;
    }

    .hero-subheading h3 {
        font-size: 1.4rem;
    }

    .hero-btn a {
        font-size: 1.4rem;
        padding: 0.8rem 1.6rem;
    }

    .page-title {
        font-size: 3rem;
        text-align: center;
    }

    .page-container {
        margin-bottom: 0;
    }

    .page-container h3 {
        font-size: 2.2rem;
    }

    .page-container h4,
    .post-page-container h2,
    .post-container h2,
    .staff-member-name {
        font-size: 2rem;
    }

    .page-footer {
        margin: 0.5rem 0;
        display: grid;
        justify-content: center;
        padding: 1rem;
        text-align: center;
    }

    .social-icon-display {
        display: grid;
        padding: 1rem;
    }

    /* Team Section Media Queries for Tablets */

    .staff-member {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        margin: 1rem 0;
    }

    .staff-member-listing img {
        width: 75%;
    }

    .staff-member-info-wrap {
        margin: 1rem 0;
    }

    .staff-member-name {
        font-size: 2.5rem;
    }

    .staff-member-position {
        font-size: 1.4rem;
    }

    .staff-member-bio {
        font-size: 1.1rem;
        margin: 0.5rem 0;
    }

    .news-button {
        display: flex;
        justify-content: center;
        margin-top: -1.8rem;
    }
    
    .back-button {
        padding: 1rem;
    }
}

/* Mobile Devices */

@media (max-width: 480px) {

    .hero-section, .page-footer, .page-container, .post-page-container, .post-container {
        margin: 0 1rem;
    }
    
    .post-page-container {
        margin-bottom: 1.6rem;
    }
    
    .navbar {
        margin-bottom: 2rem;
    }

    .logo {
        font-size: 3rem;
    }

    .nav-menu {
        margin: 0;
        margin-bottom: 1rem;
    }

    .nav-item {
        font-family: "Work Sans", "Helvetica Neue", sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .hero-container {
        margin: 0;
        gap: 0.5rem;
    }

    .hero-column {
        border-radius: 8px;
    }

    .hero-heading h2 {
        font-size: 1.4rem;
    }

    .page-title, .post-page-container h2, .post-title h2 {
        font-size: 2rem;
    }

    .page-container {
        padding: 1rem;
    }

    .hero-subheading h3 {
        font-size: 1.4rem;
    }

    .page-container h3, .page-container h4 {
        font-size: 1.4rem;
    }

    .hero-text p,
    .hero-cta p,
    .hero-btn a,
    .page-container p,
    .wpforms-container,
    .footer-text,
    .social-heading {
        font-size: 1.2rem;
    }

    .hero-btn a {
        padding: 0.6rem 1.2rem;
    }

    .footer-text {
        font-size: 1rem;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }

    /* Team Section Media Queries for Mobile Devices */

    .staff-member {
        padding: 1rem;
        margin: 0.5rem 0;
    }

    .staff-member-listing img {
        width: 100%;
        border-radius: 8px;
    }

    .staff-member-info-wrap {
        margin: 1rem 0;
    }

    .staff-member-name {
        font-size: 2rem;
    }

    .staff-member-position {
        font-size: 1.2rem;
    }

    .staff-member-bio {
        font-size: 1rem;
        margin: 0.5rem 0;
    }
}

/* Extra Small screen sizes */

@media (max-width: 360px) {
    .logo {
        font-size: 2.5rem;
    }
}