@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

a {
    text-decoration: none;
}

/* Navigation Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo a {
    /* font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-family: 'Francois One', sans-serif; */
}

.navbar .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar .nav-menu ul li a {
    text-decoration: none;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Francois One', sans-serif;
    font-size: 1.5rem;
}

.navbar .nav-menu ul li a:hover,
.navbar .nav-menu ul li a:focus {
    background-color: blue;
}

/* Hero Section */

.home-hero {
    padding: 6rem 2rem;
}

.home-hero .hero-headline {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-family: 'Francois One', sans-serif;
}

.home-hero p {
    font-size: 1.25rem;
    font-family: 'Inter Tight', sans-serif;
}

/* Page Content */

.page-container {
    padding: 6rem 2rem;
}

.page-container p {
    font-size: 1.25rem;
    font-family: 'Inter Tight', sans-serif;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-family: 'Francois One', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    margin: 1.5rem 0;
}

p {
    margin-bottom: 1.5rem;
    font-family: 'Inter Tight', sans-serif;
}

/* Post Content */
.post-page-container {
    padding: 3rem 2rem;
}

.post-container {
    padding: 6rem 2rem;
}

.page-container p {
    font-size: 1.25rem;

}

/* Footer */

footer {
    text-align: center;
    padding: 1rem 2rem;
    font-family: 'Francois One', sans-serif;
}

footer p {
    margin: 0;
    font-size: 0.875rem;
    
}